<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input
        type="search"
        class="filtro"
        placeholder="O que você procura?"
        autofocus
        [(ngModel)]="filter"
        (keyup)="searchStickers()"
      >
      <img src="../../../../assets/images/lupa.png" alt="Search Icon">
    </div>
    <h2 class="ff-inter">{{ title }}</h2>
    <div class="botoes">
      <button
        (click)="reloadBoard()"
        class="botao">Todos
      </button>
      <button
        (click)="listFavorites()"
        class="botao">Meus Favoritos
      </button>
      <button
        routerLink="/create-sticker"
        class="botao">Novo Pensamento
      </button>
    </div>
  </header>
  <div
    *ngIf="stickersList.length > 0, else noStickers"
    class="mural">
    <app-sticker
      *ngFor="let item of stickersList"
      [sticker-info]="item"
      (delete-sticker)="deleteSticker($event)"
      >
    </app-sticker>
  </div>
</section>
<app-load-more-button
  (click)="loadMoreStickers()"
  [has-more-stickers]="hasMoreStickers">
</app-load-more-button>
<ng-template
  #noStickers>
  <div class="ff-inter sem-pensamentos">
      <p>Ainda não há pensamentos cadastrados!</p>
  </div>
</ng-template>
