<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um<br/>pensamento novo:</h2>
  </header>
  <form
    [formGroup]="form">
    <label for="sticker">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="sticker"
      formControlName="content"
      placeholder="Digite o pensamento"
    >
    <div
      *ngIf="
        form.get('content')?.touched &&
        form.get('content')?.errors
      "
      class="mensagem__erro">
      Pensamento é Obrigatório!
    </div>
    <label for="authorship">Autoria</label>
    <input
      type="textarea"
      class="input"
      id="authorship"
      formControlName="authorship"
      placeholder="Digite a Autoria"
    >
    <div
      *ngIf="
        form.get('authorship')?.touched &&
        form.get('authorship')?.errors?.['required']
      "
      class="mensagem__erro">
      Autoria é Obrigatória!
    </div>
    <div
      *ngIf="
        form.get('authorship')?.touched &&
        form.get('authorship')?.errors?.['minlength']
      "
      class="mensagem__erro">
      Autoria precisa ter no mínimo 3 caracteres!
    </div>
    <label for="model">Selecione o modelo do Card:</label>
    <div class="container-radio">
      <div class="radio-modelo" *ngFor="let modelNumber of [1,2,3]">
        <label for="modelo{{modelNumber}}">
          <input
            type="radio"
            id="modelo{{modelNumber}}"
            value="modelo{{modelNumber}}"
            formControlName="model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo {{ modelNumber }}</span>
        </label>
        Prévia:
        <div class="modelo modelo{{modelNumber}} ff-roboto-mono">
          <img src="../../../../assets/images/modelo{{modelNumber}}.png" alt="Blue Quotes">
          <p class="conteudo">{{ form.get('content')?.value }}</p>
          <p class="autoria"><b>{{ form.get('authorship')?.value }}</b></p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button
        [ngClass]="enableButton()"
        (click)="createSticker()"
        [disabled]="!form.valid">Salvar
      </button>
      <button
        routerLink=""
        class="botao">Cancelar
      </button>
    </div>
  </form>
</section>
